<!-- header -->
<div ng-include="'templates/header.html'"></div>
<!-- <div class="about-poster"></div> -->
<div class="section sm">
    <div class="bg-white wrap">
        <div class="section">
            <div class="section-header">
                About Us
            </div>
            <div class="section-content" style="font-size:16px">
                Skill Pier is a service dedicated to connecting tutors with clients. Here at Skill Pier, we believe that learning new skills and bettering yourself are some of the key ways to living life to the fullest. We have a team of talented individuals whose primary goal is to ensure you get the most out of your experience.
            </div>
        </div>
        <div class="section">
            <div class="section-header">
                Welcome to Skillpier
            </div>
            <div class="section-content" style="font-size:16px">
                <p class="text-indent">The main objective for us at skill pier is to create a space where eager and curious minds can come to <b>explore</b> and <b>find new hobbies</b> as well as improve old ones. If you are already knowledgeable in certain skills, we would like to invite you to <b>join the team</b>! In the process of your discoveries, it is our hope that you learn more about yourself and what you can accomplish so that you grow in other areas of your life as well.</p>
                <p class="text-indent">With a wide-selection of skills to choose from, you can certain that you’ll find something truly enjoyable. From Badminton to Dancing to Drawing and Painting, there is no better service out there that offers the wide range of talent that we do. And the best part: we do so locally. Why not take a chance and learn something new- that leap of faith will likely present a wonderful, and serendipitous experience that will certainly last a lifetime.</p>
                <p class="text-indent">As a coach, client or both, we would love to have you come aboard with us at Skill Pier. From us to you, it’s great to have you here!</p>
                <p class="text-indent">-The Skill Pier Team</p>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer_index.html'"></div>
