<!-- input confirm box -->
<div class="confirm-box" ng-if="confirm.content_type =='input'">
    <div class="confirm-body">
        <div class="confirm-header">
            {{confirm.title}}
            <i class="pull-right fa fa-times close" ng-click="confirm.cancel()"></i>
        </div>
        <div class="confirm-content">
            <input type="text" class="full-width" ng-model="confirm.content" placeholder="Enter your plan">
        </div>
        <div class="confirm-footer">
            <span class="btn btn-default" ng-click="confirm.cancel()">{{confirm.cancel_text}}</span>
            <span class="btn btn-primary" ng-click="confirm.ok()">{{confirm.ok_text}}</span>
        </div>
    </div>
</div>
<!-- content confirm box yes or no -->
<div class="confirm-box" ng-if="confirm.content_type =='content'">
    <div class="confirm-body">
        <div class="confirm-content">
            <p class="text-center">
                <a><img src="../images/logo.png" class="logo" alt=""></a>
            </p>
            <span class="close hover" ng-click="confirm.close()"><i class="fa fa-close"></i></span>
            <p class="text-center">{{confirm.content_text}}</p>
            <p class="text-center">
                <span class="btn btn-primary block full-width btn-lg btn-md" ng-click="confirm.ok()">{{confirm.ok_text}}</span>
            </p>
            <p class="text-center">
                <small class="hover" ng-click="confirm.cancel()">{{confirm.cancel_text}}</small>
            </p>
        </div>
    </div>
</div>
<!-- content confirm box yes or no rich text-->
<div class="confirm-box" ng-if="confirm.content_type =='rich_text'">
    <div class="confirm-body rich-body">
        <div class="confirm-content">
            <p class="text-center">
                <a><img src="../images/logo.png" class="logo" alt=""></a>
            </p>
            <span class="close hover" ng-click="confirm.close()"><i class="fa fa-close"></i></span>
            <div ng-include="'../templates/partnership_agreement.html'"></div>
        </div>
        <div class="confirm-footer">
            <p style="text-align: left" class="hover" ng-click="check()"><i class="fa" ng-class="{'fa-square-o': !checked,'fa-check-square-o': checked,'text-primary': checked}" aria-hidden="true"></i> Agree means you agree all the terms in Skillpier's partnership agreement.</p>
            <p class="text-center">
                <button class="btn btn-primary block" ng-click="confirm.ok()" ng-disabled="!checked">{{confirm.ok_text}}</button>
            </p>
        </div>
    </div>
</div>
<!-- content confirm box yes or no -->
<div class="confirm-box" ng-if="confirm.content_type =='content_1'">
    <div class="confirm-body">
        <div class="confirm-content">
            <p class="text-center">
                <a><img src="../images/logo.png" class="logo" alt=""></a>
            </p>
            <span class="close hover" ng-click="confirm.close()"><i class="fa fa-close"></i></span>
            <p class="text-center">{{confirm.content_text}}</p>
            <p class="text-center"> In the meantime, you can</p>
            <p class="text-center">
                <span class="btn btn-success block full-width btn-lg btn-md" ng-click="confirm.ok()">{{confirm.ok_text}}</span>
            </p>
            <p class="text-center">or</p>
            <p class="text-center">
                <small class="btn btn-primary block full-width btn-lg btn-md" ng-click="confirm.cancel()">{{confirm.cancel_text}}</small>
            </p>
        </div>
    </div>
</div>
<!-- autocomplete confirm box for location autocomplete -->
<div class="confirm-box" ng-if="confirm.content_type =='autocomplete'">
    <div class="confirm-body">
        <div class="confirm-content">
            <p class="text-center">
                <a><img src="../images/logo.png" class="logo" alt=""></a>
            </p>
            <span class="close hover" ng-click="confirm.close()"><i class="fa fa-close"></i></span>
            <p class="text-center">{{confirm.content_text}}</p>
            <autocomplete location="input.location"></autocomplete>
            <p class="text-center">
                <span class="btn btn-primary block full-width btn-lg btn-md" ng-click="confirm.ok_submit()">{{confirm.ok_text}}</span>
            </p>
            <p class="text-center">
                <!-- <small class="hover" ng-click="confirm.cancel()">{{confirm.cancel_text}}</small> -->
            </p>
        </div>
    </div>
</div>
<!-- dialog confirm box for just message feedback -->
<div class="confirm-box" ng-if="confirm.content_type =='dialog'">
    <div class="confirm-body">
        <div class="confirm-content">
            <p class="text-center">
                <a><img src="../images/logo.png" class="logo" alt=""></a>
            </p>
            <span class="close hover" ng-click="confirm.close()"><i class="fa fa-close"></i></span>
            <p class="text-center">{{confirm.content_text}}</p>
            <p class="text-center">
                <span class="btn btn-primary block full-width btn-lg btn-md" ng-click="confirm.ok()">{{confirm.ok_text}}</span>
            </p>
        </div>
    </div>
</div>
