<!-- header -->
<myresource cs-resource="{'account_css':'lib/css/account.css','media_css':'lib/css/media.css'}"></myresource>
<div ng-include="'templates/header.html'"></div>
<div class="wrap">
    <div class="section account-section">
        <!-- sidebar -->
        <sidebar active="" class="sidebar-wrap" user="user" go="go"></sidebar>
        <div class="content-wrap">
            <div class="tabs clearfix">
                <a class="tab-item pull-left" ng-class="{'active':input.coupon_type=='1'}" ng-click="active_tab('1')">Coupons</a>
                <a class="tab-item pull-left" ng-class="{'active':input.coupon_type=='-1'}" ng-click="active_tab('-1')">expired</a>
            </div>
            <form ng-submit="get_coupon()" name="couponForm" class="coupon-form">
               <input type="text" class="form-control" ng-model="input.coupon_id" placeholder="Enter coupon codes"> 
               <button type="submit" class="btn btn-second">Get</button>
            </form>
            <div class="section sm">
                <div class="coupon" ng-repeat="coupon in coupons">
                    <div class="coupon-top">
                        <span class="btn" ng-click="remove(coupon,$event)">Delete</span>
                        <h2>offered by {{coupon.provider}}</h2>
                            <p><strong>{{coupon.total_coupon_money|currency:"$"}}</strong>&nbsp;&nbsp;x{{coupon.coupon_num}}</p>
                        <div class="p2">Valid from {{coupon.begin_time}} to {{coupon.end_time}}</div>
                    </div>
                    <div class="coupon-below clearfix">
                        <span>Coupon details: </span>
                        <div class="c-note">{{coupon.coupon_rule}}</div>
                    </div>
                </div>
            </div>
            <!-- <div class="section text-center">
                <span class="btn btn-lg" ng-click="loadMore()">{{page.message}}</span>
            </div> -->
        </div>
    </div>
</div>
<!-- confirm -->
<confirm confirm="confirm" class="hide"></confirm>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>