<!-- header -->
<div ng-include="'templates/header.html'"></div>
<myresource cs-resource="{'account_css':'lib/css/account.css','media_css':'lib/css/media.css'}"></myresource>
<div class="wrap">
    <div class="section account-section">
        <!-- sidebar -->
        <sidebar active="" class="sidebar-wrap" user="user" go="go"></sidebar>
        <div class="content-wrap">
        	<div class="tabs clearfix">
                <a class="tab-item pull-left">Coupons</a>
                <a class="tab-item pull-left active">expired</a>
            </div>
            <div class="section sm">
            	<div class="coupon">
                    <div class="coupon-top">
                        <h2>由Skillpier提供</h2>
                        <p><strong>$4</strong>&nbsp;&nbsp;x2</p>
                        <div class="p2">有效期2016-04-04 11:48:07至2016-04-05 11:48:07</div>
                        <div class="">
                        	<img src="">
                        </div>
                    </div>
                    <div class="coupon-below clearfix">
                        <span>使用规则</span>
                        <div class="c-note">LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPIDICING TLIT ,ASPEIORES NEQUE,CUM DESERUNT.SED TEMPORESPEIORES NEQUE,CUM DESERUNT.SED SPEIORES NEQUE,CUM DESERUNT.SED SPEIORES NEQUE,CUM DESERUNT.SED </div>
                        <a class="clearfix">
                            <cite>MORE</cite>
                        </a>
                    </div>
                </div>	
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
