<div class="footer cleafix footer-index">
    <div class="wrap">
        <div class="section sm">
            <div class="footer-left">
                <div class="links">
                    <a class="links-item" ng-href="#/about">About Skillpier</a>
                    <a class="links-item" ng-href="#/support">Support</a>
                    <a class="links-item" ng-href="#/contact">Contact Us</a>
                    <a class="links-item" ng-href="#/services">Terms of Services</a>
                    <a class="links-item" ng-href="#/privacy">Privacy Policy</a>
                    <a class="links-item" ng-href="#/refund_policy">Refund Policy</a>
                </div>
                <div class="copyright">
                    Copyright @ 2016-2018 Skillopedia Corp. All Rights Reserved
                </div>
            </div>
            <div class="footer-right">
                <imageview data-rate="172/215" src="'../images/logo_footer.png'" ></imageview>
            </div>
        </div>
    </div>
</div>
