<div class="signin-body">
    <div class="signin-panel">
        <div class="signin-left">
            <div class="text-gray">You can also sign in with:</div class="text-center">
            <div class="section" style="margin-top:30px">
                <span class="full-width social-btn btn-facebook" ng-click="facebook_login()"><i class="fa fa-facebook" aria-hidden="true"></i>facebook</span>
                <span class="full-width social-btn btn-twitter" ng-click="twitter_login()"><i class="fa fa-twitter" aria-hidden="true"></i>twitter</span>
                <div class="signin-guide text-gray">
                    <div class="signin-guide-title">Become a private coach</div>
                    <div class="signin-guide-icon icon-left"><img src="../images/lineSharp.png"></div>
                    <div class="signin-guide-icon icon-right"><img src="../images/lineSharp.png"></div>
                    <div class="signin-guide-content">1.Sign up for an account</div>
                    <div class="signin-guide-content">2.Sign in</div>
                    <div class="signin-guide-content">3.Go to personal center</div>
                    <div class="signin-guide-content">4.Apply for coaching</div>
                </div>
            </div>
        </div>
        <div class="signin-right" ng-if="sign =='signin'">
            <form name="signinForm" ng-submit="signin_action()">
                Sign in<a ng-href="#/index" class="hover pull-right" style="color:black"><i class="fa fa-times" aria-hidden="true"></i></a>
                <div class="section" style="margin-top:30px;">
                    <div class="input-group">
                        <input type="email" class="full-width form-control" name="email" ng-model="input.signin_email" ng-required="true" placeholder="Enter your email">
                        <small class="text-danger" style="position:absolute;left:0;bottom:-15px" ng-if="signinForm.email.$invalid && signinForm.email.$dirty">Please Enter correct email here</small>
                    </div>
                    <div class="input-group">
                        <input type="password" class="full-width form-control " ng-model="input.signin_password" ng-required="true" placeholder="Enter your password">
                    </div>
                    <div class="input-group">
                        <button type="submit" class="btn btn-primary btn-lg full-width" ng-disabled="signinForm.$invalid">Sign in</button>
                    </div>
                </div>
                <div class="resend" ng-if="reconfirm_signin">
                    <div class="resend-content">
                        Skillpier go to <span class="text-danger">{{input.signin_email}}</span> to complete the sign-up process. <span class="btn btn-primary hover" ng-click="resend_email(input.signin_email)">Resend email</span>
                        <span class="pull-right hover" style="line-height: 30px" ng-click="remove_panel()"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="text-center">
                    <span ng-click="forget()" class="btn">Forgot your password?</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span ng-click="signup()" class="btn">No account? Sign up here</span>
                </div>
            </form>
        </div>
        <div class="signin-right" ng-if="sign =='signup'">
            Sign up
            <form class="section" name="signupForm" ng-submit="signup_action()">
                <div class="input-group">
                    <input type="text" class="full-width form-control" ng-model="input.username" ng-required="true" placeholder="Username">
                </div>
                <div class="input-group">
                    <input type="email" class="full-width form-control" name="email" ng-model="input.signup_email" ng-required="true" placeholder="Enter your email">
                    <small class="text-danger" style="position:absolute;left:0;bottom:-15px" ng-if="signupForm.email.$invalid && signupForm.email.$dirty">Please Enter correct email here</small>
                </div>
                <div class="input-group">
                    <input type="password" class="full-width form-control" ng-model="input.signup_password" ng-required="true" placeholder="Enter your password">
                </div>
                <div class="input-group">
                    <button type="submit" class="btn btn-primary btn-lg full-width" ng-disabled="signupForm.$invalid">Sign up</button>
                </div>
            </form>
            <div class="resend" ng-if="reconfirm_signup">
                <div class="resend-content">
                    Skillpier go to <span class="text-danger">{{input.signup_email}}</span> to complete the sign-up process. <span class="btn btn-primary hover" ng-click="resend_email(input.signup_email)">Resend email</span>
                    <span class="pull-right hover" style="line-height: 30px" ng-click="remove_panel()"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="text-center">
                <span>Already have an account? <b ng-click="signin()" class="hover" style="color:blue;text-decoration:underline">Sign in here.</b></span>
            </div>
        </div>
        <div class="signin-right" ng-if="sign =='forget'">
            Forget
            <form class="section" name="forgetForm" ng-submit="forget_action()">
                <div class="input-group">
                    <input type="email" class="full-width form-control" ng-model="input.forget_email" ng-required="true" placeholder="Enter your email">
                </div>
                <div class="input-group">
                    <button type="submit" class="btn btn-primary btn-lg full-width" ng-disabled="forgetForm.$invalid">send to find password</button>
                </div>
            </form>
            <div class="text-center">
                <span ng-click="signin()" class="btn">Sign in</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span ng-click="signup()" class="btn">Sign up</span>
            </div>
        </div>
    </div>
</div>
