<!-- header -->
<div ng-include="'templates/header.html'"></div>
<div class="wrap">
    <div class="section account-section">
        <!-- sidebar -->
        <sidebar active="" class="sidebar-wrap" user="user" go="go"></sidebar>
        <div class="content-wrap">
            <div class="tabs clearfix">
                <a class="tab-item pull-left" ng-class="{'active':day.schedule_data == current_day}" ng-click="query_schedule(day.schedule_data)" ng-repeat="day in days">{{day.schedule_data}}</a>
            </div>
            <div class="calendar-wrap">
                <calendar calendar="calendar" class="calendar-left"></calendar>
                <div class="calendar-right">
                    <div class="calenader-result">
                        <p class="text-center">Schedule</p>
                        <div class="result-item hover" ng-click="calendar.remove(select)" ng-repeat="select in calendar.selected">
                            {{get_from_time(select.from.hour)}} to {{get_to_time(select.to.hour)}}
                            <i class="pull-right fa fa-times"></i>
                        </div>
                        <div class="result-item" ng-if="calendar.selected.length==0">
                            Select course to confirm!
                        </div>
                        <div class="result-item text-center" ng-if="calendar.selected.length>0">
                            <div class="btn-group">
                                <span class="btn btn-danger" ng-click="reject_course()">Reject</span>
                                <span class="btn btn-primary" ng-click="confirm_course()">Confirm</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- confirm -->
<confirm confirm="confirm" class="hide"></confirm>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
