<!-- header -->
<div ng-include="'templates/header.html'"></div>
<!-- <div class="about-poster"></div> -->
<div class="section sm">
    <div class="wrap bg-white">
        <div class="section sm">
            <div class=WordSection1>
                <p class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>This Private
Policy describes how your information is collected, used, and disclosed by
Skillpier Corp (<b>&quot;Skillpier,&quot;,&quot;we,&quot; &quot;us&quot; or
&quot;our&quot;</b>) when you interact with us, including through the IOS
application, Android application website, and/or other forms of communication. </span></p>
                <p class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>This Privacy
Policy may be adjusted time to time. Each time an adjustment is made, the “Last
Updated” date will be changed. We will also send update notices to your account
via Email or application notifications. Skillpier encourages you to review
this Privacy Policy when you use our services. By visiting skillpier.com, <b>you
are accepting the practices described in this Privacy Policy.</b> </span></p>
                <p class=MsoNormal style='line-height:1.5'><b><span lang=EN-US
style='font-size:13.5pt;font-family:"Helvetica","sans-serif"'>TYPES OF
COLLECTED PERSONAL INFORMATION</span></b></p>
                <p class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>We collect customer
information to help us improve your experience on Skillpier. We collect the
following types of information.</span></p>
                <p class=MsoNormal style='line-height:1.5'><b><span lang=EN-US
style='font-size:16px;font-family:"Helvetica","sans-serif"'>Account
information:</span></b><span lang=EN-US style='font-size:16px;font-family:
"Helvetica","sans-serif"'> name, email address, password, age, gender, postal
address, phone number, photos, experience and other information you provide to
us.</span></p>
                <p class=MsoNormal style='line-height:1.5'><b><span lang=EN-US
style='font-size:16px;font-family:"Helvetica","sans-serif"'>Transaction
information: </span></b><span lang=EN-US style='font-size:16px;font-family:
"Helvetica","sans-serif"'>transaction information includes data on coaching
sessions and the services you purchase from us<span class=msoIns><ins
cite="mailto:Victor%20Hsiao" datetime="2016-09-15T20:57">.</ins></span> We do not collect or store debit/credit card information and all transactions are processed by third party payment processors. If you are a tutor or coach with us, we will collect your bank account information.</span>
                </p>
                <p class=MsoNormal style='line-height:1.5'><b><span lang=EN-US
style='font-size:16px;font-family:"Helvetica","sans-serif"'>Course
information: </span></b><span lang=EN-US style='font-size:16px;font-family:
"Helvetica","sans-serif"'>information relating to your courses, such as </span><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>course
type as well as the time and location you meet with your coach, will be
collected.</span></p>
                <p class=MsoNormal style='line-height:1.5'><b><span lang=EN-US
style='font-size:16px;font-family:"Helvetica","sans-serif"'>Information from
other sources: </span></b><span lang=EN-US style='font-size:16px;font-family:
"Helvetica","sans-serif"'>We might receive information about you from other
sources and add it to your account information. This information may include
data regarding your participation in surveys and your communication with us via
third party media services. If you refer individuals to us to receive coaching
services, we will also keep records of this information.</span></p>
                <p class=MsoNormal style='line-height:1.5'><b><span lang=EN-US
style='font-size:16px;font-family:"Helvetica","sans-serif"'>Mobile
information: </span></b><span lang=EN-US style='font-size:16px;font-family:
"Helvetica","sans-serif"'>When you download or use applications created by
Skillpier, we may receive information about your location and your mobile
device. We may use this information to provide you with location-based
services, such as search results and other personalized content. Most mobile
devices allow you to turn off location services.</span></p>
                <p class=MsoNormal style='line-height:1.5'><b><span lang=EN-US
style='font-size:16px;font-family:"Helvetica","sans-serif"'>About Cookies: </span></b><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>Cookies
are unique identifiers that allow us to recognize your device<span
class=msoIns><ins cite="mailto:Victor%20Hsiao" datetime="2016-09-15T21:03">.</ins></span> Skillpier automatically collects this information. If you wish to disable your cookies, please see the details described under “About Your Choices.”</span>
                </p>
                <p class=MsoNormal style='line-height:1.5'><b><span lang=EN-US
style='font-size:13.5pt;font-family:"Helvetica","sans-serif"'>SHARING OF
INFORMATION</span></b></p>
                <p class=MsoNormal style='line-height:1.5'><b><span lang=EN-US
style='font-size:16px;font-family:"Helvetica","sans-serif"'>Our customers are
important to us and we will not sell your information to others. We share
customer information only as described below:</span></b></p>
                <ul type=disc>
                    <li class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>When you
     create a profile or interact with us on third-party social media sites,
     certain information that you provide may be displayed publicly, such as
     your name, profile photo and other information you choose to provide;</span></li>
                    <li class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>In response
     to a request for information by any applicable law, rule, regulation or
     legal process;</span></li>
                    <li class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>If your
     actions violate our user agreement, we may use your information to protect
     the right and property of Skillpier and/or others;</span></li>
                    <li class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>With your
     agree or direction;</span></li>
                    <li class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>With service
     providers that need to access information in order to work on our behalf.</span></li>
                </ul>
                <p class=MsoNormal style='line-height:1.5'><b><span lang=EN-US
style='font-size:13.5pt;font-family:"Helvetica","sans-serif"'>USE OF
INFORMATION</span></b></p>
                <p class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>We use the
information we collect to:</span></p>
                <ul type=disc>
                    <li class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>Provide and
     improve our services;</span></li>
                    <li class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>Offer you
     personalized experiences on our service,<span class=msoIns><ins
     cite="mailto:Victor%20Hsiao" datetime="2016-09-15T21:05"> </ins></span>such as personally recommending courses and deals;</span>
                    </li>
                    <li class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>Contact you
     about your account and provide you with excellent customer service;</span></li>
                    <li class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>Communicate
     with you about products, services, offers, promotions, rewards, and events
     offered by Skillpier;</span></li>
                    <li class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>Prevent,
     detect, mitigate, and investigate fraud, security breaches, and potentially
     prohibited or illegal activities;</span></li>
                    <li class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>Deliver
     targeted marketing, service updates, and promotional offers based on your
     communication preferences;</span></li>
                    <li class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>Perform data
     analytics and measure the effectiveness of advertising, content, features
     and activities;</span></li>
                    <li class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>Give you
     access to your purchase history, coach management, internal messages, and
     other features;</span></li>
                    <li class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>Provide
     other services requested by you as described when we collected the information.</span></li>
                </ul>
                <p class=MsoNormal style='line-height:1.5'><b><span lang=EN-US
style='font-size:13.5pt;font-family:"Helvetica","sans-serif"'>ABOUT YOUR
CHOICES</span></b></p>
                <p class=MsoNormal style='line-height:1.5'><b><span lang=EN-US
style='font-size:16px;font-family:"Helvetica","sans-serif"'>Account</span></b></p>
                <p class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>You may access,
update or delete the information you provide to us at any tim<span
class=msoIns><ins cite="mailto:Victor%20Hsiao" datetime="2016-09-15T21:07">.</ins></span> We will keep a copy of the prior version for our records. Please contact us via our support email or customer service if you want to delete your account. </span>
                </p>
                <p class=MsoNormal style='line-height:1.5'><b><span lang=EN-US
style='font-size:16px;font-family:"Helvetica","sans-serif"'>Location
Information</span></b></p>
                <p class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>When you launch
our mobile application for the first time, we will ask you if you allow us to
track your location information while the application is in use. You can change
your decision at any time by changing the location preferences on your mobile
device.</span></p>
                <p class=MsoNormal style='line-height:1.5'><b><span lang=EN-US
style='font-size:16px;font-family:"Helvetica","sans-serif"'>Cookies and Web
Storage</span></b></p>
                <p class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>Most web browsers
are set to accept cookies and web storage by default. The Help feature on most
browsers will tell you how to prevent your browser from accepting new cookies,
how to have the browser notify you when you receive a new cookie, or how to
disable cookies altogether. Additionally, you can disable or delete similar
data used by browser add-ons, such as Flash cookies, by changing the add-on
settings or visiting the manufacturer’s website. We recommend that you turn on
Cookies and Web Storage as they allow you to have the best experience with the
Skillpier services, such as Shopping Cart.</span></p>
                <p class=MsoNormal style='line-height:1.5'><b><span lang=EN-US
style='font-size:16px;font-family:"Helvetica","sans-serif"'>Promotion and
advertisement</span></b></p>
                <p class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>If you do not
want to receive any promotion or advertisement emails from Skillpier, you can
always unsubscribe by<span class=msoIns><ins cite="mailto:Victor%20Hsiao"
datetime="2016-09-15T21:10"> </ins></span>using the link in our email. However, we will still contact you with any information or concerns regarding your account.
                    </span>
                </p>
                <p class=MsoNormal style='line-height:1.5'><b><span lang=EN-US
style='font-size:16px;font-family:"Helvetica","sans-serif"'>Mobile application
notification</span></b></p>
                <p class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>The automatic
setting is for you to receive mobile notifications. However, you may at any
time change the mobile notification setting in order to stop receiving our application
notifications.</span></p>
                <p class=MsoNormal style='line-height:1.5'><b><span lang=EN-US
style='font-size:13.5pt;font-family:"Helvetica","sans-serif"'>QUESTIONs AND
COMPLAINTs</span></b></p>
                <p class=MsoNormal style='line-height:1.5'><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>If you have any
questions or complaints about this privacy policy, please contact us at </span><span lang=EN-US><a href="mailto:administrator@skillpier.com"><span style='font-size:16px;
font-family:"Helvetica","sans-serif"'>administrator@skillpier.com </span></a>
                    </span><span lang=EN-US style='font-size:16px;font-family:"Helvetica","sans-serif"'>or
714-213-9873.</span></p>
                <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer_index.html'"></div>
