<!-- header -->
<div ng-include="'templates/header.html'"></div>
<!-- <div class="about-poster"></div> -->
<div class="section sm">
    <div class="wrap bg-white">
        <h1 class="text-center">Refund Policy</h1>
        <div class="section">
            <div class="section-content">
                <h3>Session Cancellations</h3>
                <p class="text-indent">If for whatever reason you are unable to make your scheduled appointment with your coach, you are allotted a 24 hour window to cancel your appointment. You will need to contact us through email or call 24 hours prior to the session. Our customer service representatives are always readily available to help.</p>
                <p class="text-indent"></p>
                <p class="text-indent">administrator@skillpier.com</p>
                <p class="text-indent">714-213-9873</p>
                <h3>Session Refund</h3>
                <p class="text-indent">You are eligible to apply for a session refund before you book your course. Log in to your account and go to order dashboard. There you will see a refund button below your order. Click and go to the “refund page,” where it will show all available sessions you have available to refund.</p>
                <p class="text-indent">
                    If your course is already confirmed or complete and you are dissatisfied with your coach for any reason, please contact us within two days of the date you booked the session and we will provide you a refund of purchase price, unless it is a special offer or promotion. If however there are no issues regarding the statements above, Skillpier will not issue a refund.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<div ng-include="'templates/footer_index.html'"></div>
