<!-- header -->
<div ng-include="'templates/header.html'"></div>
<div class="wrap">
    <div class="section account-section">
        <!-- sidebar -->
        <sidebar active="'/skillopedia'" class="sidebar-wrap" user="user" go="go"></sidebar>
        <div class="content-wrap">
            <div class="tabs clearfix">
                <a class="tab-item pull-left" ng-href="#/skillopedia">Courses</a>
                <a class="tab-item pull-left" ng-href="#/orders_management">Orders</a>
                <a class="tab-item pull-left active">Schedule</a>
            </div>
            <div class="calendar-wrap">
                <calendar calendar="calendar" class="calendar-left"></calendar>
                <div class="calendar-right">
                    <div class="calenader-result">
                        <p class="text-center">schedule</p>
                        <div class="result-item" ng-if="calendar.selected.state == '1'">
                            <p>Course title：{{calendar.selected.course_name}}</p>
                            <p>Teaching Location：{{calendar.selected.course_location}}</p>
                            <p>Time for class：{{calendar.selected.course_time}}</p>
                            <p>Message：{{calendar.selected.remarks}}</p>
                        </div>
                        <div class="result-item" ng-if="calendar.selected.state != '1'">
                            <div ng-repeat="time in calendar.selected" ng-if="time.remarks">
                                <p>Selected time：{{time.hour||"-"}}</p>
                                <p>Plan：{{time.remarks||"no"}}</p>
                            </div>
                            <div class="clearfix" ng-if="calendar.selected.length>0">
                                <p class="btn-group text-center">
                                    <button type="button" class="btn btn-success" style="margin-left:0" ng-click="free_hour()">Mark as Free</button>
                                    <button type="button" class="btn btn-danger" style="margin-left:0" ng-click="busy_hour()">Mark as Busy</button>
                                </p>
                            </div>
                            <div class="clearfix text-ellipsis">
                                <span class="hover col-xs-12" ng-class="{'text-primary':calendar.is_stop_course=='1'}" ng-click="busy_all_day()">
                                    <i class="fa" ng-class="{'fa-check-square-o':calendar.is_stop_course=='1','fa-square-o':calendar.is_stop_course!='1'}" aria-hidden="true"></i>
                                Suspend all courses
                                </span>
                                <span class="hover col-xs-12" ng-class="{'text-primary':calendar.is_busy_24=='1'}" ng-click="busy_one_day()">
                                    <i class="fa" ng-class="{'fa-check-square-o':calendar.is_busy_24=='1','fa-square-o':calendar.is_busy_24!='1'}" aria-hidden="true"></i>
                                Mark busy today
                                </span>
                            </div>
                            <div class="clearfix text-ellipsis">
                                <span class="calender-tip unavailable">Unavailable</span>
                                <span class="calender-tip confirm">Booked</span>
                                <!-- <span class="calender-tip busy">unavailable, coach busy</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- confirm -->
<confirm confirm="confirm" class="hide"></confirm>
<!-- footer -->
<div ng-include="'templates/footer.html'"></div>
